body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	background-color: #1F2937;
	align-items: center;
	justify-content: space-between;
	padding: 16px 128px;
}

.header-logo{
	font-size: 24px;
	font-weight: bold;
	color: #F9FAF8;
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: 16px;
}

a {
	color: #E5E7EB;
	size: 18px;
	text-decoration: none;
}
