body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

.header, .section1 {
	display: flex;
	flex-direction: row;
	background-color: #1F2937;
	align-items: center;
	justify-content: space-between;
	padding: 16px 128px;
}

.header-logo{
	font-size: 24px;
	font-weight: bold;
	color: #F9FAF8;
}

ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	gap: 16px;
}

a {
	color: #E5E7EB;
	size: 18px;
	text-decoration: none;
}

.section1 {
	gap: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.right {
	display: flex;
	flex-direction: column;
	max-width: 35%;
}

.right h1 {
	margin: 0px;
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
}

.right p {
	font-size: 18px;
	color: #E5E7EB;
}

.right button {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	color: white;
	background-color: #3882F6;
	border: 0px;
}

.section1 img{
	flex: 1;
}

.section2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 128px;
	padding-bottom: 50px;
}

.section2 h2{
	font-size: 36px;
	font-weight: 800;
}

.image-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
}

.captioned-image{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
}

.captioned-image img{
	width: 147px;
	height: 147px;
	border: 3px;
	border-color: #3882F6;
	border-radius: 10px;
}

.captioned-image p{
	text-align: center;
	font-size: 18px;
	color: #75777A;
}

.section3 {
	display: flex;
	flex-direction: column;
	padding: 100px 350px;
	background-color: #E5E7EB;
}

.section3 h3{
	font-weight: 10;
	font-style: italic;
	font-size: 36px;
	margin: 0;
}

.section3 h4 {
	text-align: right;
	font-size: 24px;
	margin: 0;
	font-weight: bold;
}
